* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-estilo{
    border: 2px solid green;
    
}


.poke-img{
    border: 2px solid red;
    
}

.aqui{
    border: 2px solid blue;
}